main
    div.serch
        div.filter
            p Filters
        div.serch-input
            input(type='text', placeholder='Search')
    div.games
        img(src="public/Image/balatro.png", alt="balatro")
        img(src="public/Image/eldenRing.png", alt="Elden ring")
        img(src="public/Image/poe2.png", alt="path of exile 2")
