footer
  div.container
    div.about-as
      p About us
    div.support
      p Support
    div.social-icons
      img(src="public/Image/intagram.png", alt="instagram")
      img(src="public/Image/Li.png", alt="linkedin")