header 
    div.top_header
        div.logo
            img(src="public/Image/logo.png", alt="logo")
            p Gamer Dev
        div.username
            p danzo007
    div.gameOfTheDay
        p Game of the day
        img(src="public/Image/gameOfTheDay.png", alt="Game of the day")
