@import "mixin";

footer {
    padding: 20px;
  
    .container {
      @include font-size(2rem);
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }
  
    .about-as {
      flex: 1;
    }
  
    .support {
      flex: 1;
      text-align: center; 
    }
  
    .social-icons {
      flex: 1;
      display: flex;
      justify-content: flex-end; 
  
      img {
        @include glow-on-hover;
        width: 30px;
        height: 30px;
        margin-left: 15px;
      }
    }
  }